# Dependencies

node_modules/

# Expo

.expo/
.expo-shared/
dist/
web-build/
build/
output/

# Git

.git/
.gitignore

# Native folders (you can include them if using prebuild or custom dev client)

ios/
android/

# macOS & system

.DS_Store

# Debug logs

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# Credentials and keys

_.p8
_.p12
_.jks
_.key
_.pem
_.mobileprovision

# Environment files

.env*
.env.*.local

# Metro

.metro-health-check\*

# TypeScript

\*.tsbuildinfo

# Test & coverage

coverage/
_.test._
**tests**/
jest.config.js

# Documentation

docs/
README.md

# Example apps or unused files

example/
app-example/
_.orig._

# VSCode or IDE settings

.vscode/
.idea/
